    body{
        background-image: url(img/宇宙.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #fffffff9;
}

th {
    background-color: #fffffff9;
}

img {
    max-width: 300px;
    max-height: 300px;
}

td{
    color: aliceblue;
}

h1{
    color: aliceblue;
}